In [2]:
from app import app
from app.models import Admin, Transaksi, Transaksi_menu

In [3]:
app.app_context().push()

In [12]:
transaksi = Transaksi.query.filter_by(id_user=1, status="Diproses")
data = {}
for trx in transaksi:
    print(f"Id transaksi: {trx.id}")
    print(f"Date transaksi: {trx.date}")
    print(f"Status transaksi: {trx.status}\n")
    for menu in trx.menu():
        print(f"Id menu: {menu.id}")
        print(f"Jumlah menu: {menu.jumlah}")
        pesanan = menu.pesanan()
        print(f"Pesanan: {pesanan}")
        print(f"Nama pesanan: {pesanan.nama}")
        print(f"Harga pesanan: {pesanan.harga}")
        print(f"Total harga: {menu.jumlah * pesanan.harga}\n")

Id transaksi: 1
Date transaksi: 2024-11-07 11:59:42.251170
Status transaksi: Diproses

Id menu: 1
Jumlah menu: 2
Pesanan: <Coffe 3>
Nama pesanan: ice kopi susu
Harga pesanan: 15000
Total harga: 30000

Id menu: 2
Jumlah menu: 3
Pesanan: <Coffe 5>
Nama pesanan: ice teh
Harga pesanan: 7000
Total harga: 21000

In [13]:
transaksi = Transaksi.query.filter_by(id_user=1, status="Diproses")
data = {}
for trx in transaksi:
    data['id'] = trx.id
    print(f"Id transaksi: {trx.id}")
    data['date'] = trx.date
    print(f"Date transaksi: {trx.date}")
    data['status'] = trx.status
    print(f"Status transaksi: {trx.status}\n")
    data["menu"] = {}
    for menu in trx.menu():
        data['menu'][menu.id] = {}
        print(f"Id menu: {menu.id}")
        data['menu'][menu.id]['jumlah'] = menu.jumlah
        print(f"Jumlah menu: {menu.jumlah}")
        pesanan = menu.pesanan()
        data['menu'][menu.id]['nama'] = pesanan.nama
        print(f"Pesanan: {pesanan}")
        data['menu'][menu.id]['harga'] = pesanan.harga
        data['menu'][menu.id]['total'] = menu.jumlah * pesanan.harga
        
        
        print(f"Nama pesanan: {pesanan.nama}")
        print(f"Harga pesanan: {pesanan.harga}")
        print(f"Total harga: {menu.jumlah * pesanan.harga}\n")

Id transaksi: 1
Date transaksi: 2024-11-07 11:59:42.251170
Status transaksi: Diproses

Id menu: 1
Jumlah menu: 2
Pesanan: <Coffe 3>
Nama pesanan: ice kopi susu
Harga pesanan: 15000
Total harga: 30000

Id menu: 2
Jumlah menu: 3
Pesanan: <Coffe 5>
Nama pesanan: ice teh
Harga pesanan: 7000
Total harga: 21000

In [14]:
data

{'id': 1,
 'date': datetime.datetime(2024, 11, 7, 11, 59, 42, 251170),
 'status': 'Diproses',
 'menu': {1: {'jumlah': 2,
   'nama': 'ice kopi susu',
   'harga': 15000,
   'total': 30000},
  2: {'jumlah': 3, 'nama': 'ice teh', 'harga': 7000, 'total': 21000}}}

In [ ]:
{
    'id': 1,
    'date': datetime.datetime(2024, 11, 7, 11, 59, 42, 251170),
    'status': 'Diproses',
    'menu': {
        1: {
            'jumlah': 2, 
            'nama': 'ice kopi susu', 
            'harga': 15000, 
            'total': 30000
        },
        2: {
            'jumlah': 3, 
            'nama': 'ice teh', 
            'harga': 7000, 
            'total': 21000
        }
    }
}

In [18]:
from flask import jsonify
transaksi = Transaksi.query.filter_by(id_user=1, status="Diproses")
data = {}
total = 0
for trx in transaksi:
    data[trx.id] = {}
    data[trx.id]['date'] = trx.date
    data[trx.id]['status'] = trx.status
    data[trx.id]["menu"] = {}
    for menu in trx.menu():
        data[trx.id]['menu'][menu.id] = {}    
        data[trx.id]['menu'][menu.id]['jumlah'] = menu.jumlah    
        pesanan = menu.pesanan()
        data[trx.id]['menu'][menu.id]['nama'] = pesanan.nama    
        data[trx.id]['menu'][menu.id]['harga'] = pesanan.harga
        data[trx.id]['menu'][menu.id]['total'] = menu.jumlah * pesanan.harga
        total += menu.jumlah * pesanan.harga
data['total']=total

for isi in data:
    print(isi, end=":\n")
    if isi != "total":
        for isi2 in data[isi]:
            if isi2 != "menu":
                print(f"\t{isi2}: {data[isi][isi2]}")
            else:
                for isi3 in data[isi][isi2]:
                    print(f"\t{isi2}:")
                    for isi4 in data[isi][isi2][isi3]:
                        print(f"\t\t\t{isi4}: {data[isi][isi2][isi3][isi4]}")
    else:
        print(f"Total: {data[isi]}")

1:
	date: 2024-11-07 11:59:42.251170
	status: Diproses
	menu:
			jumlah: 2
			nama: ice kopi susu
			harga: 15000
			total: 30000
	menu:
			jumlah: 3
			nama: ice teh
			harga: 7000
			total: 21000
2:
	date: 2024-11-07 18:16:05.609773
	status: Diproses
	menu:
			jumlah: 3
			nama: ice teh
			harga: 7000
			total: 21000
	menu:
			jumlah: 1
			nama: ice teh susu
			harga: 10000
			total: 10000
total:
Total: 82000

In [24]:
data

{1: {'date': datetime.datetime(2024, 11, 7, 11, 59, 42, 251170),
  'status': 'Diproses',
  'menu': {1: {'jumlah': 2,
    'nama': 'ice kopi susu',
    'harga': 15000,
    'total': 30000},
   2: {'jumlah': 3, 'nama': 'ice teh', 'harga': 7000, 'total': 21000}}},
 2: {'date': datetime.datetime(2024, 11, 7, 18, 16, 5, 609773),
  'status': 'Diproses',
  'menu': {3: {'jumlah': 3, 'nama': 'ice teh', 'harga': 7000, 'total': 21000},
   4: {'jumlah': 1, 'nama': 'ice teh susu', 'harga': 10000, 'total': 10000}}},
 'total': 82000}

In [31]:
for isi in data:
    print(isi)
    if isi == "total":
        continue
    for isi2 in data[isi]['menu']:
        print(data[isi]['menu'][isi2])

1
{'jumlah': 2, 'nama': 'ice kopi susu', 'harga': 15000, 'total': 30000}
{'jumlah': 3, 'nama': 'ice teh', 'harga': 7000, 'total': 21000}
2
{'jumlah': 3, 'nama': 'ice teh', 'harga': 7000, 'total': 21000}
{'jumlah': 1, 'nama': 'ice teh susu', 'harga': 10000, 'total': 10000}
total